<form action="/answer" data-turbo="false">
  <input class="form-control" placeholder="What do you want ?" type="text" name="message">
  <input type="submit" class="btn btn-primary" value="Ask!">
</form>
